body{
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  background:linear-gradient(135deg,#667eea,#764ba2);
  height:100vh;
}

.app-container{
  text-align:center;
  padding-top:120px;
}

.title{
  color:white;
  margin-bottom:40px;
}

.child-card{
  background:white;
  width:350px;
  margin:auto;
  padding:40px;
  border-radius:15px;
  box-shadow:0 8px 20px rgba(0,0,0,0.2);
}

.btn{
  padding:10px 20px;
  border:none;
  background:#4a6cf7;
  color:white;
  border-radius:8px;
  cursor:pointer;
}
